.app {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 320px;
  background-color: #c0392b;
  color: white;
  height: 100vh;
  transition: width 0.3s ease, left 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(0);
  overflow-y: auto;
  /* overflow: scroll;  */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.sidebar.open {
  transform: translateX(0);
}

.collapsed {
  width: 80px; /* Sidebar lebih kecil saat collapsed */
}

.collapsed .logo {
  width: 30px; /* Ukuran logo saat sidebar collapsed */
}

.collapsed .navIcon {
  margin-right: 0;
}

.collapsed .navItem span {
  display: none; /* Hilangkan teks saat collapsed */
}

.sidebar.mobileVisible {
  transform: translateX(0);
}

.sidebar .logoContainer {
  background-color: white;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.logo {
  width: 80px;
}

.menuItems {
  margin-top: 20px;
}

.menuLink {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  transition: background 0.3s ease;
  cursor: pointer;
}

.menuLink:hover {
  background-color: #a93226;
}

.icon {
  margin-right: 10px;
}

/* .mainContent {
  margin-left: 250px;
  width: 100%;
  transition: margin-left 0.3s ease;
  padding: 20px;
} */

.mainContent {
  margin-left: 320px;
  padding: 80px 10px 30px 30px; /* Sesuaikan jarak padding */
  transition: margin-left 0.3s ease;
  width: 100%;
  max-width: 100% !important;
  display: block;
  overflow-x: auto;
}

.mainContentStock {
  margin-left: 320px;
  padding: 80px 30px; /* Sesuaikan jarak padding */
  transition: margin-left 0.3s ease;
  width: 100%;
}

.collapsedContent {
  margin-left: 80px;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  /* margin-right: 10px; */
}

.searchInput2 {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  max-width: 280px;
  margin-right: 80px !important;
}
.searchSelect {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  max-width: 305px;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c0392b;
  color: white;
} */

.navbar {
  width: 100%;
  height: 60px;
  background-color: #c0392b; /* Warna navbar sama dengan sidebar */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  padding: 10px 20px;
  color: white;
}

.navTitle {
  flex-grow: 1;
  text-align: center;
  letter-spacing: 10px;
  font-weight: 600;
  font-size: large;
}

.navIcons {
  display: flex;
}

.navIcon {
  font-size: 24px;
  margin-left: 20px;
  cursor: pointer;
}

.burgerIcon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.content {
  padding: 20px;
}

/* .pageTitle {
  margin-bottom: 20px;
} */

.pageTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
  text-align: center;
}

.tableFull {
  display: block;
  height: 500px !important;
}

.tableFull th {
  position: sticky;
  top: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}


.table th,
.table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.table td {
  width: 15%;
}

.table th {
  background-color: #2c3e50;
  color: white;
  white-space: nowrap;
}

.table td:nth-child(1) {
  width: 2%;
  text-align: center;
}

.table tbody {
  background-color: white; /* Warna untuk baris genap */
}

/* Efek hover pada baris tabel */
.table tbody tr:hover {
  background-color: #e6f4ea; /* Warna saat hover */
  cursor: pointer; /* Ubah cursor saat hover */
  color: black;
}

.table1 {
  width: 100%;
  height: 500px;
  border-collapse: collapse;
  display: block;
  overflow: auto;
}
.table1 th {
  position: sticky;
  top: 0;
}

.table1 th,
.table1 td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.table1 td {
  width: 15%;
}

.table1 th {
  background-color: #2c3e50;
  color: white;
  white-space: nowrap;
}

.table1 td:nth-child(1) {
  width: 2%;
  text-align: center;
}

.table1 tbody {
  background-color: white; /* Warna untuk baris genap */
}

/* Efek hover pada baris tabel */
.table1 tbody tr:hover {
  background-color: #e6f4ea; /* Warna saat hover */
  cursor: pointer; /* Ubah cursor saat hover */
  color: black;
}

.tableContainer {
  overflow-x: auto; /* Agar tabel responsive di layar kecil */
}

.tableContainer2 {
  overflow-x: auto; /* Agar tabel responsive di layar kecil */
  width: 100%;
}

.detailBtn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.detailBtn:hover {
  background-color: #c0392b;
}

/* Mobile View */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.mobileVisible {
    transform: translateX(0);
  }

  .mainContent {
    margin-left: 0;
  }

  .mainContentStock {
    margin-left: 0;
  }

  .burgerIcon {
    display: block;
  }

  .sidebar.open {
    transform: translateX(-100%);
  }
}

.tableStock {
  width: max-content;
  border-collapse: collapse;
  overflow: auto;
  table-layout: fixed;
  /* min-width: 1200px; */
}

.tableStock th,
.tableStock td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.tableStock td {
  width: auto;
}

.tableStock th {
  background-color: #2c3e50;
  color: white;
  white-space: nowrap;
}

.tableStock td:nth-child(1), td:nth-child(4) {
  width: 10%;
  text-align: center;
}
.tableStock td:nth-child(1), td:nth-child(7) {
  width: 10%;
  text-align: center;
}
.tableStock td:nth-child(1), td:nth-child(11) {
  width: 10%;
  text-align: center;
}

.tableStock td:nth-child(1), td:nth-child(6) {
  width: 2%;
  text-align: center;
}

.tableStock td:nth-child(2) {
  width: 2%;
  text-align: center;
}

.tableStock td:nth-child(12) {
  width: 10%;
  text-align: center;
}

.tableStock tbody {
  background-color: white;
}

.tableStock tbody tr:hover {
  background-color: #e6f4ea; 
  cursor: pointer; 
}

.bodyLong {
  max-width: 100% !important;
}
